body, 
header.masthead .post-heading .meta, 
.floating-label-form-group textarea,
.floating-label-form-group textarea::-webkit-input-placeholder {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  -webkit-tap-highlight-color: #64357e; }

#mainNav.is-fixed .navbar-brand:hover, #mainNav.is-fixed .navbar-brand:focus {
    color: #64357e; }
#mainNav.is-fixed .navbar-nav > li.nav-item > a:hover, #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus {
    color: #64357e; }
    
.post-preview > a:hover, 
.post-preview > a:focus, 
.post-preview > .post-meta > a:hover, 
.post-preview > .post-meta > a:focus,
.floating-label-form-group-with-focus label,
a:hover, 
a:focus,
.btn-primary .badge{
    color: #64357e; }

.btn-default:hover, .btn-default:focus {
  color: white;
  border: 1px solid #64357e;
  background-color: #64357e; }
    
.btn-primary.disabled:hover, 
.btn-primary.disabled:focus, 
.btn-primary.disabled.focus, 
.btn-primary[disabled]:hover, 
.btn-primary[disabled]:focus, 
.btn-primary[disabled].focus, 
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
    border-color: #64357e;
    background-color: #64357e; }

a img:hover, a img:focus {
  cursor: pointer; }
  
::-moz-selection {
    background: #64357e;}
    
::selection {
    background: #64357e;}


  .btn-secondary:focus, .btn-secondary.focus {
    color: white;
    border-color: #64357e;
    background-color: #64357e; }
  .btn-secondary:hover {
    color: white;
    border-color: #64357e;
    background-color: #64357e; }
  .btn-secondary:active, .btn-secondary.active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #64357e;
    background-color: #64357e; }
    .btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:active.focus, .btn-secondary.active:hover, .btn-secondary.active:focus, .btn-secondary.active.focus,
    .open > .btn-secondary.dropdown-toggle:hover,
    .open > .btn-secondary.dropdown-toggle:focus,
    .open > .btn-secondary.dropdown-toggle.focus {
      color: white;
      border-color: #64357e;
      background-color: #64357e; }
  .btn-secondary:active, .btn-secondary.active,
  .open > .btn-secondary.dropdown-toggle {
    background-image: none; }
  .btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled.focus, .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled].focus,
  fieldset[disabled] .btn-secondary:hover,
  fieldset[disabled] .btn-secondary:focus,
  fieldset[disabled] .btn-secondary.focus {
    border-color: #64357e;
    background-color: #64357e; }
  .btn-secondary .badge {
    color: #64357e;
    background-color: white; }

.btn-navbar {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  margin-right: 5px;
  text-align: left;
  padding-top: 6px;
  padding-bottom: 6px;
}
  .btn-navbar:hover { 
    background-color: #fff;}
    .btn-navbar:hover > span {
      color: rgba(0,0,0,.7);}


.btn-admin {
  margin-right: 15px;
  margin-bottom: 30px;
}
      
.pagination {
  margin-top: 5px;
}

.col-sm-8 {
  margin-bottom: 10px;
}


.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.glyphicon-search:before {
  content: "\e003";
}

#srch-term {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#repass-list, #pass-list, #usr-list {
  color: #d9534f;
}

#sgnup-usrname {
    text-transform: lowercase;
}

pre, xmp, .text, #artContent {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

pre {
 padding:1px;
 box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 display:block; 
 white-space: pre-wrap;  
 white-space: -moz-pre-wrap; 
 white-space: -pre-wrap; 
 white-space: -o-pre-wrap; 
 word-wrap: break-word; 
 width:100%; overflow-x:auto;
}

#rad1, #rad2 {
  border-radius: 0px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#upd-btn {
  margin-left: 100px;
}

#newTitle {
  font-weight: 800;
  font-size: 40px;
  line-height: 44px;
}

#newContent {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

#message {
  color: #b760e6;
}

#commErr {
  color: #b760e6;
  padding-left: 0px;
  font-size: 16px;
}

#navtext {
  margin-left: 7px;
  padding-left: 10px;
}

#logo {
  margin-right: 5px;
}
